

.bar-graph {
    background-color:rgba(29, 189, 201, 0.1);
    border: 1px solid black;
    box-shadow: 15px 10px 3px 2px gray;
    /*width: 90%;*/
    /*height: 200px;*/
}

.canvas {
    width: 200px;
    background-color:rgba(250, 0, 0, 0.6);
    border: 1px solid black;
}

.bg-red {
    background-color:rgba(250, 0, 0, 0.6);
    border: 1px solid black;

};

.bg-green {
    background-color:rgba(79, 250, 0, 0.6);
    border: 1px solid black;

};

.bg-blue {
    background-color:rgba(0, 46, 250, 0.6);
    border: 1px solid black;

};